<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>All</title>
</head>

<body>
    <form action="http://127.0.0.1:8000" id="back">
        <button type="submit">Назад</button>
    </form>
    <form method="GET" action="">
        <label for="status">Фильтровать по статусу:</label>
        <select name="status" id="status">
            <option value="">Все</option>
            <option value="В ожидании">В ожидании</option>
            <option value="Готово">Готово</option>
            <option value="Оплачено">Оплачено</option>
        </select>
        <button type="submit">Применить</button>
    </form>
    <div class="container">
        {% for order in orders %}
        <div class="order-item">
            <p>id: {{order.id}}</p>
            <p>Номер стола: {{order.table_number}}</p>
            <p>Блюда: {{order.items.keys|join:", " }}</p>
            <p>Общая стоимость: {{order.total_price}}</p>
            <p>Статус: {{order.status}}</p>
        </div>
        {% empty %}
        <p>Список заказов пуст.</p>
        {% endfor %}
    </div>
</body>

</html>