<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Change_status</title>
</head>

<body>
    <form action="http://127.0.0.1:8000" id="back">
        <button type="submit">Назад</button>
    </form>
    <form id="change_order_status" method="post">
        {% csrf_token %}
        <label for="text_input">Введите id заказа</label>
        <input type="number" id="text_input" name="text_input" required>

        <label for="data_select">Выберите статус</label>
        <select id="data_select" name="data_select" required>
            <option value="">Статус</option>
            <option value="В ожидании">В ожидании</option>
            <option value="Готово">Готово</option>
            <option value="Оплачено">Опалчено</option>
        </select>

        <button type="submit">Изменить</button>
    </form>
    {% if message %}
    <p>{{ message }}</p>
    {% endif %}
</body>

</html>