<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/delete.css' %}">
</head>

<body>
    <form action="http://127.0.0.1:8000" id="back">
        <button type="submit">Назад</button>
    </form>
    <form id="delete_order_form" method="post">
        {% csrf_token %}
        <label for="text_input">Введите id заказа</label>
        <input type="number" id="text_input" name="text_input" required>
        <button type="submit">Удалить</button>
    </form>
    {% if message %}
    <p>{{ message }}</p>
    {% endif %}
</body>

</html>