<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Head</title>
</head>

<body>
    <h1>Управление заказами</h1>
    <form action="http://127.0.0.1:8000/add_page/" id="add">
        <button type="submit">Добавить заказ</button>
    </form>
    <form action="http://127.0.0.1:8000/redact/" id="redact">
        <button type="submit">Редактирование заказа</button>
    </form>
    <form action="http://127.0.0.1:8000/change_status/" id="change">
        <button type="submit">Изменить статус заказа</button>
    </form>
    <form action="http://127.0.0.1:8000/all_orders" id="redirect">
        <button type="submit">Посмотреть все заказы</button>
    </form>
    <form action="http://127.0.0.1:8000/search/" id="search">
        <button type="submit">Поиск заказа</button>
    </form>
    <form action="http://127.0.0.1:8000/currency/" id="currency">
        <button type="submit">Выручка за смену</button>
    </form>
    <form action="http://127.0.0.1:8000/delete_order/" id="delete">
        <button type="submit">Удалить заказ</button>
    </form>
</body>

</html>